.article-page {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 800px;
    margin: auto;
    padding-bottom: 100px;
  }
  
  .article-page h2 {
    margin-top: 0;
    font-size: 2em;
    color: #333;
  }
  
  .article-page p {
    margin: 10px 0;
    color: #666;
  }
  
  .article-page img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
  }

  .article-page-body {
    padding-bottom: 30px;
  }

  .article-votes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .article-votes button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .article-votes button:hover {
    background-color: darkred;
  }
  
  .article-votes span {
    font-size: 1.2em;
    margin: 0 10px;
  }

  .comment-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .comment-form input,
  .comment-form textarea {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .comment-form textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .comment-form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .comment-form button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }