.delete-button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:disabled {
    background-color: #ff9999;
    cursor: not-allowed;
  }
  
  .error {
    color: red;
  }

  .delete-button:hover {
    background-color: darkred;
  }